
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div>
        Enter a book
    </div>
    <form method="post" action="/Books/Create">
        <input type="text" id="title" name="title" />
        <br />
        <input type="text" id="publisher" name="publisher" />
        <br />
        <button type="submit" >submit</button>
    </form>
</body>
</html>
